<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
    <h2>Owner Information</h2>
    <table class="table table-striped" th:object="${owner}">
        <tr>
            <th>Name</th>
            <td><b th:text="${owner.firstName+' '+owner.lastName}" ></b></td>
        </tr>
        <tr>
            <th>Adress</th>
            <td><b th:text="${owner.address}" ></b></td>
        </tr>
    </table>
    <a href="@{{id}/edit(id=${owner.id})}}" class="btn btn-default">Edit Owner</a>
    <a href="@{{id}/pets/new(id=${owner.id})}}" class="btn btn-default">Add new Pet</a>

    <br/>
    <br/>
    <br/>


    <h2>Pets and Visits</h2>
    <table class="table table-striped">
        <tr th:each="pet : ${owner.pets}">
            <td valign="top">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd th:text="${pet.name}"></dd>
                    <dt>Birth day</dt>
                    <dd th:text="${#temporals.format(pet.birthDate, 'yyy-MM-dd')}"></dd>
                <dt>Type</dt>
                    <dd th:text="${pet.petType}"></dd>
                </dl>
            </td>
        </tr>

    </table>
</body>
</html>